.contextMenu {
  background-color: #E6FBF6;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  padding: 15px;
  li {
    background-color: #fff;
    transition: box-shadow 0.4s;   
    button {
      display: block;
      background: none;
      border: none;
      font: 400 0.85rem $primaryFont;
      cursor: pointer;
      padding: 5px 10px; 
      color: $textColor;
      border-radius: 3px;
    }
  }
}

.contextMenu li:hover {
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}

.board-horizontal-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 50px;
}
