@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// #ADD9E5;

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
    font-family: $primaryFont;
    font-weight: 400;
    margin: 0px;
    color: $textColor;
  }
  
  .pink {
    background: #F9E5E6;
  }
  
  .blue {
    background: #E6FBF6;
  }

//   main {
//     height: 80vh;
// }