nav {
    position: sticky;
    height: 10vh;
    top: 0;
    background-color: #fff;
    @include flex(row nowrap, center, center);
    padding: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    .brand {
      // height: 40px;
      @include flex(row nowrap, auto, center);
      flex-shrink: 0;
      color: $textColor;
    }

    .toggle {
      all: unset;
      font: 400 1rem $primaryFont;
      font: 400 1rem $primaryFont;
      letter-spacing: 1.3px;
      cursor: pointer;
      color: $textColor;
    }
  
    .hamburger {
      display: none;
      border: none;
      padding-right: 1.2rem;
      color: $textColor;
      background-color: transparent;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  
    .menu {
      @include flex(row nowrap, center, center);
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  
    .menu.open {
      @media screen and (max-width: 768px) {
        @include flex(column nowrap, center, flex-start);
        width: 100%;
      }
    }
  
    .menu li {
      padding: 0 2rem;
      margin: 0;
      @media screen and (max-width: 768px) {
        padding: 0;
        margin-bottom: 0.8rem;
      }
    }
  
    .menu li a {
      font: 400 1rem $primaryFont;
      letter-spacing: 1.3px;
      color: $textColor;
      font-size: 1.1rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  
    .menu li a:hover {
      color: $textColor;
      transition: all 0.2s;
    }
  }
  
  .menu li:last-of-type {
    padding: 0.5rem 1rem;
    background-color: $textColor;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
      a {
        color: #fff;
        text-transform: uppercase;
        &:hover,
        &:focus {
          box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
          color: #fff;
        }
     }
  }